# Data cleaning

    This particular notebook is used for clean the data's particularly in name folder in IMDB dataset, In initial step I clean the dataset one by on later stage I'll clean bulk manner

In [25]:
pip install IMDbPY

Note: you may need to restart the kernel to use updated packages.Collecting IMDbPY
  Using cached IMDbPY-2022.7.9-py3-none-any.whl (1.2 kB)
Collecting cinemagoer (from IMDbPY)
  Using cached cinemagoer-2023.5.1-py3-none-any.whl (297 kB)
Requirement already satisfied: SQLAlchemy in c:\users\mohammed\anaconda3\lib\site-packages (from cinemagoer->IMDbPY) (1.4.39)
Requirement already satisfied: lxml in c:\users\mohammed\anaconda3\lib\site-packages (from cinemagoer->IMDbPY) (4.9.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mohammed\anaconda3\lib\site-packages (from SQLAlchemy->cinemagoer->IMDbPY) (2.0.1)
Installing collected packages: cinemagoer, IMDbPY
Successfully installed IMDbPY-2022.7.9 cinemagoer-2023.5.1

In [1]:
#Importing Necessary library for data cleaning
import pandas as pd 
import numpy as np

In [7]:
#Loading data set in variable name
name_Dataset=pd.read_csv("C:/Users/Mohammed/Downloads/IMDB/Movie_Data/name.basics.tsv/data.tsv",sep="\t",on_bad_lines='skip')

In [8]:
#Checking How the dataset look's like
name_Dataset.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0075213,tt0037382,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0054452,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0069467,tt0083922"

#### Checking information about the dataset

In [30]:
name_data_2=name_Dataset.copy()

In [31]:
#Length check
name_data_2.shape

(13123690, 6)

In [32]:
name_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13123690 entries, 0 to 13123689
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 600.8+ MB

In above Info functions shows the information only about size and number of records and most importantly what the type of data.

In [34]:
col_name=name_data_2.columns

In [35]:
for col in col_name:
    print(col)

nconst
primaryName
birthYear
deathYear
primaryProfession
knownForTitles

In [51]:
unique_value_dataFrame=pd.DataFrame()
unique_value_dataFrame

Empty DataFrame
Columns: []
Index: []

In [52]:
unique_value_dataFrame[["col_name","value"]]=0

In [53]:
unique_value_dataFrame

Empty DataFrame
Columns: [col_name, value]
Index: []

In [58]:
unique_value_dataFrame["col_name"]='Pundai'
unique_value_dataFrame["value"]=0

In [59]:
unique_value_dataFrame

Empty DataFrame
Columns: [col_name, value]
Index: []